name: Build

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
<<<<<<< HEAD
      - uses: actions/checkout@v3
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7.0.x'
=======
      - uses: actions/checkout@v5
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '9.0.x'
>>>>>>> aa4bcea1821df049da3655229e152bc9ce32697d
      - name: Install dependencies
        run: dotnet restore
      - name: Build solution
        run: dotnet build --no-restore
      - name: Test solution
        run: dotnet test --no-restore
      - name: Check code formatting
        run: dotnet format --no-restore --verify-no-changes
      - name: Check code style
        run: dotnet format --no-restore --verify-no-changes style
